.pro-thumb {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.pro-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-content h5 a {
  display: -webkit-box;
  -webkit-line-clamp: 2;  
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.product-content {
  flex-grow: 1;
}

.product-content h5,
.product-content h6 {
  min-height: 30px; 
  display: flex;
  align-items: center;
}

